<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 1.번 namespace -->
  <mapper namespace="memberMapper"> 
  <!-- namespace : mapper 파일의 고유한 별칭 -->
  
  <!-- 
  	*DML문일 경우
  	<insert|update|delete id="각sql문 식별자" [parameterType="전달받을 자바타입(풀클래스명)|별칭]">
  	
  	</insert|update|delete >
  	//DML 문 같은 경우 실행결과가 처리된 행수 int 이기 떄문에 resultType 또는 resultMap에 대한 속성이 필요 없음
  	*SELECT 문 일 경우
  	<select id="각sql문 식별자" [parameterType="전달받을 자바타입(풀클래스명)|별칭] resultType=" 조회결과를 반환 하고자 하는 자바타입" | resultMap="조회결과를 뽑아서 매핑할 resultMap">
  	
  	</select>
   		
   	sql문에 전달된 객체로부터 값을 꺼낼떄 #{필드명 또는 변수명 또는 키값} 이용	
   
   -->
   
   <!-- 
   mybatis-config.xml > typealias 별칭 후 원래는>  
   <insert id="insertMember" parameterType="com.kh.mybatis.member.model.vo.Member"> 
   -->
	<insert id="insertMember" parameterType="Member">
	insert
	    into Member
		    (
		    user_no,
		    user_id,
		    user_pwd,
		    user_name,
		    email,
		    birthday,
		    gender,
		    phone,
		    address
		    )
	    values
		    (
		    seq_uno.nextval,
		    #{userId},
		    #{userPwd},
		    #{userName},
		    #{email},
		    #{birthday},
		    #{gender},
		    #{phone},
		    #{address}
		    )
	
	</insert>
	
	<!--
	*resultMap 마이바티스의 핵심 기능 중 하나!
	resultSet으로 부터 조회된 컬럼값 하나씩 봅아서 내가 지정한 vo 객체에 각 필들에 담는(매핑) 역할 수행
	=>jdbc 코드를 줄여주는 역할 수행
	<resultMap id="식별자" type="조회결과를 담아서 반환하고자 하는 vo객체의 타입(풀클래스명)|별칭">
		<result column="조회결과를 뽑고자하는 db의컬럼명" property="해당 결과를 담고자 하는 필드명"/>
	</resultMap>
	-->
		<resultMap type="Member" id="memberResultSet">
			<result column="USER_NO" property="userNo"></result>
			<result column="USER_ID" property="userId"></result>
			<result column="USER_PWD" property="userPwd"></result>
			<result column="USER_NAME" property="userName"></result>
			<result column="EMAIL" property="email"></result>
			<result column="BIRTHDAY" property="birthday"></result>
			<result column="GENDER" property="gender"></result>
			<result column="PHONE" property="phone"></result>
			<result column="ADDRESS" property="address"></result>
			<result column="ENROLL_DATE" property="enrollDate"></result>
			<result column="MODIFY_DATE" property="modifyDate"></result>
			<result column="STATUS" property="status"></result>
		</resultMap>
	<select id="loginMember" resultMap="memberResultSet" parameterType="Member" >
		select 
		    user_no,
		    user_id,
		    user_pwd,
		    user_name,
		    email,
		    birthday,
		    gender,
		    phone,
		    address,
		    enroll_date,
		    modify_date,
		    status
		from member
			where user_id = #{userId}
			and user_pwd = #{userPwd}
			and status = 'Y'

	</select>
  </mapper>
  